@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Poppins|Raleway');

body {
  margin: 0;
  padding: 0;
  background: #444444;
}
textarea {
  font-family: 'Poppins', sans-serif;

}
code {
  display: block;
  background: #282c34;
  color: aliceblue;
  margin: 10px;
}
table {
  background: white;
  margin: 10px auto;
  border-radius: 15px;
  padding: 5px;
  width: 80%;
}
button {
  border: none;
  background: #5c737c;
  color: #111111;
}
button:focus,
button:hover {
  color: inherit;
  background: #5c737c;
}

img {
  display: block;
  width: auto;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 2px solid #111111;
  font-family: "Raleway", sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.editor,
.previewer {
  border: 2px solid #111111;
  padding: 0px;
  position: relative;
  transition: 0.5s all ease-in;
  background: #ffffff;

  /* opacity: 0.7; */
}
.editor {
  height: 100vh;
  width: 50vw;
  box-sizing: border-box;
}

.editor textarea {
  width: 100%;
  /* max-width: 40vw; */
  height: 90%;
  outline: none;
  border: none;
  padding: 5px;
  resize: vertical;
}
.previewer {
  width: 50vw;
  height: 100vh;
}
#preview {
  padding: 8px 15px;
  overflow-y: scroll;
  height: 90%;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px auto;
  height: 30px !important;
  background: #5c737c;
  margin-top: 0;
  font-weight: bold;
  z-index: 5;
  color: white;
  text-shadow: 4px 4px 4px #5c737c;
  border-bottom: 2px solid #5c737c;
}
.toolbar span {
  font-size: 1em;
}



.max {
  width: 98vw;
  height: 100vh;
  /* position: fixed; Stay in place */
  z-index: 1; /* Sit on top */
  margin: auto;
  top: 0;
  position: absolute;
  transform-origin: center;
  box-shadow: -4px 6px 60px 13px rgba(0, 0, 0, 0.75);
}
.max textarea {
  height: 90vh;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
  .editor {
    width: 100vw;
    height: 100vh;
  }
  .previewer {
    margin-top: 10px;
    width: 100vw;
  }
  .editor textarea {
    min-height: 100%;
  }
  #contact {
    bottom: 1%;
    right: 0.5%;
  }
}
